body{
	font-family: Malgun Gothic Semilight, Arial, Helvetica, sans-serif;	
}

h1{
	color: #10b0f3;
}

table {
	background-color: azure;
	border-collapse: collapse;	
}

td, th {	
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #10B0F3;
	color: black;	
}

.column{
	width:50%;
	float:left;
	padding: 5px;
	box-sizing:border-box;
}

/*clear-fix the parent of column because it collapsed!  */
form:after{
	content:'';
	display:block;
	clear:both;
}

/* FORM STUFF BEGINS HERE */
form{
	font-size:100%;
}

label{
	display:block;
	color:#686868;
	margin: 5px 0 3px;
}

fieldset label{
	display:inline-block;
	font-size:85%;
	font-family: Calibri, sans-serif;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=date],
textarea,
select{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background-color: #f2f2f2;	
	border: solid 2px #10B0F3;
}

textarea{
	resize: vertical;
	min-height: 70px;
}

fieldset{
	border:none;
	margin:20px 0 ;
	padding:10px 0;
	border-bottom: 2px solid #10B0F3;
}

legend{
	color:white;
	background-color:#10B0F3;
	display:block;
	width:100%;
	padding:3px;
}

input[type=checkbox]{
	background-color:red;
	border: solid 1px red;
	color:red;
	outline:red;
}

/* BUTTONS */
input[type=button]{
	background-color: #cbefffe0; 
	border: #cbefffe0 ;
	border-radius: 5%;
	margin-top: 5px;
	margin-bottom: 3px;
	height: 30px;
	color: #393a3a;
}

input[type=submit]{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:12px; 
	padding-right:12px;
	border-radius:10px;
	text-align:left;
	background-color: #10b0f3;
	color: white;
	border:none;
}
/* Reset Button: minimize the appearance */
input[type=reset]{
	background-color:transparent;
	border:none;
	text-decoration:underline;
	cursor:pointer;
	margin:20px 0;
	color: #686868;
}

/* hovers and tabs */
input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=date]:hover{
	background-color:#98ddfae0;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus{
	outline: 2px solid #cbefffe0;
}
input[type=sumbit]:hover,
input[type=submit]:focus{
	background: color #10b0f3;
}