{{>header}}
<!--/* 
	Information transmise par le contrôleur :
	- categorie : la catégorie à editer
*/-->
		<h1>Ajouter une catégorie</h1>
		<!--/* Au revient au contrôleur, avec la méthode POST */-->
		<form method="post" action="save">
			<div class="column">
				<!--/* th:field définit quel champ de l'objet est édité par cette zone de saisie */-->
				<label for="code">Code:</label>
				<input type="text" name="code" 
					{{#categorie.code}} value="{{categorie.code}}" {{/categorie.code}}
					readonly="readonly" placeholder="auto-généré, nom modifiable"/>
				<input type="submit" value="Enregistrer" /> <input type="reset" value="Réinitialiser" />
			</div>
			<div class="column">
				<label for="libelle">Libellé:</label>
				<input type="text" name="libelle" 
					{{#categorie.libelle}} value="{{categorie.libelle}}" {{/categorie.libelle}}
					placeholder="Libellé de la catégorie"/>				
				<label for="description">Description:</label>
				<input type="text" name="description"
					{{#categorie.description}} value="{{categorie.description}}" {{/categorie.description}}
					placeholder="Description de la catégorie"/>
			</div>
		</form>		
		<hr/>
		<a href="/">Retour au menu</a>
		<hr/>
		<h3>Code source</h3>
		<ul>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/entity/Categorie.java"                      target="_blank">Le modèle (une catégorie)</a></li>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/resources/templates/formulaireCategorie.mustache"                target="_blank">Cette vue</a></li>
			<li><a href="https://bitbucket.org/rbastide/comptoirsspringmvc/src/master/src/main/java/comptoirs/controller/CategorieProduitController.java" target="_blank">Le contrôleur</a></li>
		</ul>		
{{>footer}}
