
{{>header}}
		<h1>Liste des commentaires</h1>		
		{{#message}}<h3>{{message}}</h3>{{/message}}				
		<table>
			<tr><th>ID</th><th>Contenu</th><th>Auteur</th><th>Date</th></tr>			
			{{#commentaires}}
				<tr>					
					<td>{{idCommentaire}}</td>
					<td>{{texte}}</td>
					<td>{{auteur}}</td>
					<td>{{date_Commentaire}}</td>	
					<td>
						<a href='edit?idCommentaire={{idCommentaire}}'>Modifier</a> 
						<a href='delete?idCommentaire={{idCommentaire}}'>Supprimer</a>
					</td>			
					
				</tr>
			{{/commentaires}}
		</table>

		<hr/>
		<a href="/">Retour au menu</a>
		<hr/>							
	</body>
</html>