
{{>header}}
		<h1>Liste des étiquettes</h1>		
		<a href='add'><input type="button" value="Ajouter une étiquette"></a>	
		{{#message}}<h3>{{message}}</h3>{{/message}}				
		<table>
			<tr><th>Intitule</th></tr>
			{{#etiquettes}}
				<tr>			
					<td>{{intitule}}</td>					
					<td>
						<a href='edit?idEtiquette={{idEtiquette}}'>Modifier</a> 
						<a href='delete?idEtiquette={{idEtiquette}}'>Supprimer</a>
					</td>
				</tr>
			{{/etiquettes}}
		</table>

		<hr/>
		<a href="/">Retour au menu</a>
		<hr/>							
	</body>
</html>