
{{! On insère l'en-tête de page }}
{{>header}}
	<form>
		
		<div class="column">
			<label for="idPartenaire">Partenaire à afficher: </label>
			
			<select name='idPartenaire' onchange='this.form.submit()'>
			
				{{#partenaires}}
					<option value="{{idPartenaire}}">{{raisonSociale}}</option>
				{{/partenaires}}
			</select>
		</div>
	</form>
	<h2>Contact par partenaire <em>{{selected.raisonSociale}}</em></h2>
	
	<table>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Telephone Fixe</th>
			<th>Telephone Portable</th>
			<th>Mail</th>
			<th>Fonction</th>
		</tr>
		
		{{#selected.contacts}}
			<tr>
				<td>{{nom}}</td>
				<td>{{prenom}}</td>
				<td>{{telFixe}}</td>
				<td>{{telPortable}}</td>
				<td>{{mail}}</td>
				<td>{{fonction}}</td>					
			</tr>
		{{/selected.contacts}}
		
		{{^selected.contacts}}
			<tr>
				<td colspan="3">Aucun produit dans cette catégorie</td>
			</tr>
		{{/selected.contacts}}
	</table>
	<hr/>
	<a  href="/">Retour au menu</a>
			
{{>header}}